.tooltip 
  font-family: arial, helvetica, sans-serif
  z-index 50;
  position absolute
  border 1px solid #888
  color #111
  border-radius 4px
  background-color #fff
  padding 5px 10px
  max-width 200px
  margin-top -8px
  margin-left 0px
  box-shadow #aaa 0px 0px 1px

.tooltip p.only-child 
  margin 0px
  
tsize = 20px  
.ig-tooltip
  display inline-block
  width tsize
  height tsize
  border 1px solid black
  border-radius tsize
  text-align center
  line-height tsize
  cursor help
  &:hover
    background-color lighten(black, 80)

thead 
  .ig-tooltip
    border-color white