.ig
  .histogram
    width 7 * 10px
    height 40px
    margin 0 auto
    border-bottom 1px solid black
    position relative
    div
      width 10px
      position absolute
      bottom 0
      display inline-block
      background-color black
    .prumer
      width 1px
      height 70%
      background-color red
      &:before
        content attr(data-vek)
        text-align center
        position relative
        font-size 11px
        top -15px
        left -5px
  .kandidatka-select 
    font-size 25px
    padding 5px 20px;
    margin-bottom 20px;
  .kandidatka-wrap
    width 100%
    height 760px
    overflow-y auto
    overflow-x hidden
    bottom 0px
    transition left 0.6s
    z-index 3000
    .kandidatka
      width 100%
      height 100%
      overflow auto
      background white
      h1
        font-size 1.8em
        color ColorHeadingLink
        margin 0px
        padding 20px 15px 0px 91px
      h2
        font-size 1em
        font-weight normal
        font-style italic
        color #333
        margin 0px
        padding 10px 15px 19px 91px
      table.data-table
        border-collapse collapse
        width 100%
        td
        th
          margin 0px
        td
          padding 2px 5px
        th
          background ColorRadiozurnal
          border-bottom 1px solid darken(ColorRadiozurnal, 20%)
          color white
          padding 5px 5px
          text-align left
          &.has-sorter
            .name
              text-decoration underline
              &:hover
                text-decoration none
                cursor pointer
        td:nth-child(4)
        th:nth-child(4)
          height 42px
        th:nth-child(4)
          width 95px
        th:nth-child(2)
        th:nth-child(5)
          width 120px
        th:nth-child(7)
          width 120px
        tbody
          tr
            .kandidati
              visibility hidden
              display inline-block
            &:hover
              .kandidati
                visibility visible
            td
              text-overflow ellipsis
              position relative
              &:nth-child(5)
              &:nth-child(6)
                padding-left 30px
            &:nth-child(2n) td
              background #f2f2f2
            .kost
            .mandat
              display block
              position absolute
              width 20px
              height 20px
              border-radius 3px
              top 50%
              margin-top -10px
            .mandat
              border 1px solid #aaa
              background white
              left 50%
              margin-left -10px
              &.mandat-1
                border-color darken(ColorRadiozurnal, 50%)
                background ColorRadiozurnal
            .mandat-text
              position absolute
              top 50%
              height 20px
              margin-top -10px
              display block
              width 20px
              text-align center
              left 50%
              margin-left -10px
              line-height 20px
              color #555
              &.mandat-text-1
                color white
            .kost
              left 0px
            &.special
              td
                background-color lighten(ColorHeading, 90%)
              &:nth-child(2n) td
                background-color lighten(ColorHeading, 80%)
            






